.navbar{
    position: fixed;
    top: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #111;
    height: 30px;
    width: 100%;
}
.logo{
     position: fixed;
     left: 20px;
     width: 80px;
}
 .avathar{
position: fixed;
    right:20px;
    width:30px


 }